@model Texnicum.Models.Data.Disciplines

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Disciplines</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IndexProfModule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IndexProfModule)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfModule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfModule)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Index)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>